@-ms-viewport{
  width: device-width;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.forgot{
  text-decoration:underline;
}
.btn-custom1{
  background-color: hsl(138, 58%, 56%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6e7b9", endColorstr="#4dcf74");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a6e7b9), to(#4dcf74));
  background-image: -moz-linear-gradient(top, #a6e7b9, #4dcf74);
  background-image: -ms-linear-gradient(top, #a6e7b9, #4dcf74);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6e7b9), color-stop(100%, #4dcf74));
  background-image: -webkit-linear-gradient(top, #a6e7b9, #4dcf74);
  background-image: -o-linear-gradient(top, #a6e7b9, #4dcf74);
  background-image: linear-gradient(#a6e7b9, #4dcf74);
  border-color: #4dcf74 #4dcf74 hsl(138, 58%, 50.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
  -webkit-font-smoothing: antialiased;
}

.headingWhite{
  color:#ffffff;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}
 /* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

/* Custom styling to Navbar
----------------------------------------- */
.navbar-wrapper{
  postition: absolute;
  top:0;
  right:0;
  left:0;
  z-index:20;

}
.right-inner-addon{
  position:relative;
  top:8px;
  right:1px;
}
